@import "mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font Propo", san-serif;
    font-size: 16px;
    color: @text;
}


#waybar {
    background: transparent;
}

#workspaces {
    margin: 5px 20px;
}

#workspaces button {
    padding: 0.4rem;
    margin: 0;
    background-color: @crust;
    border-color: @surface0;
    border-style: solid;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-radius: 0px;
    border-bottom-color: @sky;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button.empty {
    border-bottom-color: @surface0;
}

#workspaces button.workspace-hover {
    background-color: @sky;
}

#workspaces button.active {
    background-color: @sky;
    border-color: @sky;
    /* border-bottom-color: @sky; */
}

#workspaces .active .workspace-label {
    color: @crust;
}

#workspaces button:last-child {
    border-right-width: 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#workspaces button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left-width: 2px;
}

#custom-music,
#clock,
#battery,
#pulseaudio,
#pulseaudio-slider,
#bluetooth,
#cpu,
#memory,
#language,
#tray,
#submap,
#custom-notify,
#network {
    background-color: @crust;
    color: @text;
    padding: 0 12px;
    margin: 4px;
    border: 2px solid @surface0;
    border-radius: 4px;
}

#clock {
    color: @sky;
}

#clock.date {
    color: @text;
}

#pulseaudio {
    color: @mauve;
}

#custom-notify {
    margin-right: 20px;
}

#tray menu {
    background-color: @surface0;
}

#custom-notify.unread {
    color: @red;
}

#cpu,
#memory,
#network {
    color: @teal;
}

#cpu.moderate,
#memory.moderate {
    color: @yellow;
}

#cpu.hight,
#memory.hight,
#network.disconnected {
    color: @red;
}

#submap {
    color: @red;
}
