@import "mocha.css";

* {
    font-family: "JetBrainsMono Nerd Font Propo", san-serif;
    font-size: 16px;
    color: @text;
}


#waybar {
    background: transparent;
}

#workspaces {
    border-radius: 4px;
    margin: 5px 20px;
    background-color: @crust;
    border: 2px solid @surface0;
}

#workspaces button {
    padding: 0.4rem;
    border-bottom: 1px solid @sky;
    border-radius: 0px;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button.empty {
    border-bottom: 0px solid @sky;
}

#workspaces button {
    padding: 0.4rem;
    color: @sky;
}

#workspaces button.workspace-hover {
    background-color: @sky;
}

#workspaces button.active {
    background-color: @sky;
}

#workspaces .active .workspace-label {
    color: @crust;
}


#custom-music,
#clock,
#battery,
#pulseaudio,
#pulseaudio-slider,
#bluetooth,
#cpu,
#memory,
#language,
#tray,
#custom-notify,
#network {
    background-color: @crust;
    color: @text;
    padding: 0 12px;
    margin: 4px;
    border: 2px solid @surface0;
    border-radius: 4px;
}

#clock {
    color: @sky;
}

#clock.date {
    color: @text;
}

#pulseaudio {
    color: @mauve;
}

#custom-notify {
    margin-right: 20px;
}

#tray menu {
    background-color: @surface0;
}

#custom-notify.unread {
    color: @red;
}

#cpu,
#memory,
#network {
    color: @teal;
}

#cpu.moderate,
#memory.moderate {
    color: @yellow;
}

#cpu.hight,
#memory.hight,
#network.disconnected {
    color: @red;
}
