# Aliases

alias vim='nvim'
alias vi='nvim' 

alias dir='dir --color=auto'
alias vdir='vdir --color=auto'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ls='LS_COLORS="$LS_COLORS:ow=34;" lsd'
alias ll='ls -alF'
alias l='ls -CF'
alias lt='ls --tree'
alias cat="bat"

alias op="dot tmux project"
alias tn="dot tmux create"

