[Desktop Entry]
Name=Notion[personal]
Comment=Notion Web App
Exec=google-chrome-stable --profile-directory="Default"  --app=https://notion.com/p/
Terminal=false
Type=Application
Icon=notion
Categories=Network;
